.card-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(320px, 400px);
  overflow-y: auto;
  gap: 20px;
  padding: 40px 20px;
  justify-content: center;
  width: calc(100vw - 40px);
}
